<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
    <!-- 백그라운드 모드 설정 -->
    <key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
        <string>processing</string>
		<string>remote-notification</string>
	</array>
    <!-- 백그라운드 작업 식별자 -->
    <key>BGTaskSchedulerPermittedIdentifiers</key>
    <array>
        <string>com.purealarm.refresh</string>
    </array>

    <!-- 알림 카테고리 (알림 확장을 위한 설정) -->
    <key>UIUserNotificationCategory</key>
    <string>ALARM_CATEGORY</string>
</dict>
</plist>
